:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

#grid-container {
  display: grid;
  height: 600px;
  width: 600px;
  border: 1px grey solid;
  padding: 1em;
  gap: 1.5px;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.cell {
  border: 1px grey solid;
}

.content-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
